.modul12 .item {
  text-align: left;
}
.modul12 .item img {
  width: 100%;
  padding-top: 20px;
}
.modul12 .item h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.modul12 .item h2 {
  font-size: 30px;
}
.modul12 .item h3 {
  font-size: 13px;
  color: #adadad;
}
.modul12 .item h5 {
  font-size: 15px;
  color: #adadad;
}
.modul12 .items {
  margin-top: 15px;
}
.modul12 .chu {
  text-align: center;
}
.modul12 .chu h1 {
  font-weight: bold;
}
.modul12 .chu h5 {
  font-size: 20px;
}
